aiohttp==3.7.3
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
cachetools==4.2.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
google-api-core==1.26.0
google-auth==1.27.0
googleapis-common-protos==1.52.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
multidict==5.1.0
opencensus==0.7.12
opencensus-context==0.1.2
opencensus-ext-azure==1.0.7
opencensus-ext-flask==0.7.4
packaging==20.9
pipenv==2020.11.15
protobuf==3.15.1
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
pytz==2021.1
redis==3.5.3
replit==2.0.0
requests==2.25.1
rsa==4.7.1
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.3
virtualenv==20.4.2
virtualenv-clone==0.5.4
Werkzeug==1.0.1
yarl==1.6.3
